version: '3.8'

services:
    postgres:
        image: postgres:15-alpine
        container_name: ledger_db
        restart: always
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: password123
            POSTGRES_DB: banking_ledger
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data

    redis:
        image: redis:7-alpine
        container_name: ledger_redis
        restart: always
        ports:
            - '6379:6379'

    adminer:
        image: adminer
        restart: always
        ports:
            - '8080:8080'
        environment:
            ADMINER_DEFAULT_SERVER: postgres

volumes:
    postgres_data:
